html,
body {
  margin: 0;
  height: 100%;
  background-color: hsl(217, 54%, 11%);
}

.container {
  min-width: 375px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  height: 30rem;
  width: 17rem;
  background-color: hsl(216, 50%, 16%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 12px;
  padding: 20px 20px;
  box-shadow: 0px 30px 40px 35px rgba(12, 24, 41, 1);
}
.nft-img {
  height: 16rem;
  width: 17rem;
}
#img-nft {
  width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.nft-title {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

h1 {
  font-size: 1.125rem;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  color: #fff;
  height: 20px;
  background-color: #14253d;
}
.nft-price {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left-info,
.right-info,
.nft-footer {
  display: flex;
  align-items: center;
}

h2 {
  color: hsl(178, 100%, 50%);
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  display: inline-block;
  margin-left: 5px;
}

p {
  font-size: 16px;
  font-family: "Outfit", sans-serif;
  font-weight: 200;
  color: hsl(215, 51%, 70%);
  margin-top: 0;
  display: inline-block;
}
h3 {
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  font-weight: 200;
  color: hsl(215, 51%, 70%);
  margin-left: 5px;
}

hr {
  width: 100%;
  height: 1px;
  border: none;
  background-color: hsl(215, 32%, 27%);
}

#img-avatar {
  height: 30px;
  border: solid 1px white;
  border-radius: 50%;
  margin-right: 5px;
}

#creator-name {
  color: white;
}
